<article>
  <h2>Restaurar password</h2>
  <div class="formContainer">
    <form action="/api/email" method="post">
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" name="email" />
      <button type="submit">Enviar correo</button>
    </form>
  </div>
</article>