<article>
  <h2>Compra realizada</h2>
  <div class="formContainer">
    <div style="color: black;">
      <p>Número de compra: {{user.firstName}}</p>
      <p>Fecha de compra: {{user.lastName}}</p>
      <p>Comprador: {{user.email}}</p>
      <p>Total: {{user.premium}}</p>
    </div>
  </div>
</article>