<article>
  <h2>Compra realizada</h2>
  <div class="formContainer">
    <h3>Ticket</h3>
    <div style="color: black;" id="dataTicket">
    </div>
    <div style="color: black;" id="dataSinComprar">
    </div>
  </div>
</article>