<article>
  <h2>Restaurar password</h2>
  <div class="formContainer">
    <form action="/api/email/restorePassword" method="post">
      <label for="pass">Nueva contraseña</label>
      <input type="password" id="pass" name="password" />
      <input type="hidden" name="token" value="{{token}}" />
      <button type="submit">Enviar correo</button>
    </form>
  </div>
</article>